

<h1> Welcome to Debby's page </h1>

<!-- <% @posts.each do |post| %>
	<h3><a href ="#"><%= link_to post.title, post %> </a></h3>
	<p class = "date"><%= post.created_at.strftime("%A, %b %d") %> </p>
<% end %> -->

<p class="welcomepagecontent"> Welcome to Debby's page! This is a blog I created using Ruby on Rails and is one of my first attempts on RoR. I believe this will be a great avenue to chronicle my growth as I continue to explore RoR. Since I've already created this blog, I thought I would use it to illustrate my responses to the questions that were asked to Techladies Boot Camp Applicants. Head over to the 'Articles' tab on the top left-hand corner to find out more!  </p>