
html, body {
	font-family: 'Raleway', sans-serif;
}

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

.wrapper {
  width: 80%
 }

 .skinny_wrapper {
 	width: 80%;
 	max-width: 760px;
 	margin: 0 auto;

 }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.posttitle {

  margin: 30px;
  text-align: center;
}

#content {
  margin: 30px;

}

.welcomepagecontent {
  margin: 30px;
}

#main_navigation {
  padding: 2.5em 5%;
}

h1 {
  border-top: 2.5em;

}

  .name {
  padding: 2.5em 5%;
  border-bottom: 2px solid black;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0.75em 1rem;
  text-decoration: none;
  color: black;
  float: left;
  letter-spacing: 2px;
  }

  nav {
  float: right;
  padding-top: 1.5rem;
  }
    a {
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1rem;
    }
<<<<<<< HEAD

.content {
  color: red;
}
=======
>>>>>>> 6f2bf7c63776523ba9d53d34c7c9808e48cfe5b4
